<div class="container">
  <div class="card mt-5 row">
    <div class="card-body col">
      <h5 class="card-title"><%= book.title %></h5>
      <% if (book.favorite) { %>
      <span>💖</span>
      <% } %>
      <h6 class="card-subtitle mb-2 text-muted"><%= book.authors %></h6>
      <p class="card-text"><%= book.description %></p>
    </div>

  </div>
</div>
<a href="/books/<%= book.id %>/update" class="btn btn-primary">Изменить</a>

<div id="commentsBlock" class="container mt-5">
  <div class="comments">
    <!-- Comment 1 -->
    <div class="comment p-3 border rounded mb-2">
      <span class="username">User1:</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    
    <!-- Comment 2 -->
    <div class="comment p-3 border rounded mb-2">
      <span class="username">User2:</span>
      <p>Nulla ac lorem nec justo varius blandit.</p>
    </div>
    
    <!-- Comment 3 -->
    <div class="comment p-3 border rounded mb-2">
      <span class="username">User3:</span>
      <p>Quisque consectetur magna ut arcu ullamcorper, et tristique est finibus.</p>
    </div>
  </div>

      <!-- Add Comment Form -->
  <form name="send-comment" id="form" class="mt-3">
    <div class="mb-3">
      <label for="message" class="form-label">Your Message:</label>
      <textarea class="form-control" id="message" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Comment</button>
  </form>
</div>
